<div id="brand" class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-wrapper pt-70 clearfix">
                    <div class="container pt-100 pb-30">
                        <h3 class="text-center">Authorized Partnered with...</h3>
                        <br>
                        <div class="row">
                            <div class="col-md-6 pt-20">
                                <img src="../../../assets/images/zoho-logo-512px.png" width="25%"
                                    class="img-fluid mx-auto d-block">
                            </div>
                            <div class="col-md-6 pt-30">
                                <p class="about-title wow fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="0.3s">
                                    Unique and powerful suite of software to run your entire business, brought to you by
                                    a company with the long term vision to transform the way you work.
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col-md-6 pt-20">
                                <p class="about-title wow fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="0.3s">Zoho’s integrated, online applications help you manage and
                                    automate business processes across your organization. Choose applications that
                                    address your business pain points, then deploy them to your employees. Every
                                    Application comes with a mobile version, so you can work wherever you go.</p>
                            </div>
                            <div class="col-md-6 pt-20">
                                <img src="../../../assets/images/Zoho authorized-partner.png" width="85%"
                                    class="img-fluid mx-auto d-block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Grid row -->
            <div class="col-lg-12">
                <div class="brand-wrapper pt-10 clearfix">
                    <div class="container pt-100 pb-30">
                        <h3 class="text-center">Potential Partnered with...</h3>

                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../../../assets/images/pega-logo.png" width="35%"
                                    class="img-fluid mx-auto d-block">
                            </div>
                            <div class="col-md-6 pt-90">
                                <p class="about-title wow fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="0.3s">
                                    Pega is the leader in cloud software for customer engagement and operational
                                    excellence. Pega’s low-code application development platform allows enterprises to
                                    quickly build and evolve apps to meet their customer and employee needs and drive
                                    digital transformation on a global scale.
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col-md-6 pt-20">
                                <p class="about-title  wow fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="0.3s">The World's #1 Process Mining Software. Find Hidden
                                    Inefficiencies, and Remove them for Faster, More Efficient Operations. Celons is a
                                    process discovery company, helping companies understand the way work flows through
                                    its systems to expose inefficiencies.</p>
                            </div>
                            <div class="col-md-6 pt-10">
                                <img src="../../../assets/images/celonics-logo.jpg" width="35%"
                                    class="img-fluid mx-auto d-block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== BRAND PART ENDS ======-->