<!--====== ABOUT PART START ======-->
    
<section id="about" class="about-area pt-115">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h6 class="welcome">WELCOME</h6>
                    <h3 class="title"><span>Our 6 years working experience to </span> take care of your business goal.</h3>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="about-image mt-60 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="../../../assets/images/about.png" alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="about-content pt-45">
                    <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lakshya IT Consulting Private Limited has started its journey in 2014 as an IT Service Provider to meet the Business needs of its clients. With a mere start with 5 employees and 4 clients now Lakshya IT stands in the domestic and international market with over 80+ and counting employees as our fulltime in house stakeholders and over 240+ and counting employees at various client locations on our roles.</p>
                    <br>
                    <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lakshya IT has built a valuable space among the customers heart over the time. We are proud to say that “Lakshya IT is a customer oriented company”. Lakshya invests time in two ways one in recruiting a right talent and second to execute the product.</p>
                    <br>  
                    <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lakshya IT Services which are more Customer Centric includes Application Development & Support, Maintenance, Application Testing, Designing & Implementation and Talent Acquisition</p>
                    <br>
                    <h3>Our Team</h3>
                    <p  class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lakshya IT’s Team is a package of Smart + hard working enthusiasts & aspirants. Our Team like Developers who loves coding hardly, designers who loves designing greatly and others like architects, leads etc..
                    </p>
                    <br>
                    <h3>Why Us</h3>
                    <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Lakshya IT gives priority to client satisfaction at the same time sees that employee’s growth is happening. We provide them opportunities to grow, learn, and achieve the personal as well professional goals.
                    </p>
                    <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Our Company culture has evolved from our internal and external experiences "to make the change in the people lives". We realize that our employees are the reason behind our company growth and great success. We are sure that they continue their great efforts to be a part of our future success and competitiveness. Professionalism: Integrity: Values: Quality: Teamwork:
                    </p>
                    <br>
                    <div class="about-counter pt-60">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-counter counter-color-1 mt-30 d-flex wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                                    <div class="counter-shape">
                                        <span class="shape-1"></span>
                                        <span class="shape-2"></span>
                                    </div>
                                    <div class="counter-content media-body">
                                        <span class="counter-count"><span class="counter">18</span></span>
                                        <p class="text">Clients</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-sm-4">
                                <div class="single-counter counter-color-2 mt-30 d-flex wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="counter-shape">
                                        <span class="shape-1"></span>
                                        <span class="shape-2"></span>
                                    </div>
                                    <div class="counter-content media-body">
                                        <span class="counter-count"><span class="counter">99</span>%</span>
                                        <p class="text">Satisfaction</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-sm-4">
                                <div class="single-counter counter-color-3 mt-30 d-flex wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                                    <div class="counter-shape">
                                        <span class="shape-1"></span>
                                        <span class="shape-2"></span>
                                    </div>
                                    <div class="counter-content media-body">
                                        <span class="counter-count"><span class="counter">80</span></span>
                                        <p class="text">Projects</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- about counter -->
                </div> <!-- about content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->