<footer id="footer" class="footer-area bg_cover" style="background-image: url(../../../../assets/images/footer-bg.jpg)">
    <div class="container">
        <div class="footer-widget pt-30 pb-70">
            <div class="row">
                <div class="col-lg-3 col-sm-6 order-sm-1 order-lg-1">
                    <div class="footer-about pt-40">
                        <a href="#">
                            <img src="../../../../assets/images/lit_logo2.png" alt="Logo" width="50%">
                        </a>
                        <p class="text">Lakshya IT enabling Big time Organizations with its ITES and add value to their
                            products and deliver!</p>
                    </div> <!-- footer about -->
                </div>
                <div class="col-lg-3 col-sm-6 order-sm-3 order-lg-2">
                    <div class="footer-link pt-40">
                        <div class="footer-title">
                            <h5 class="title">Services</h5>
                        </div>
                        <ul>
                            <li><a routerLink="services">Web and Mobile Services</a></li>
                            <li><a routerLink="services">Zoho Services</a></li>
                            <li><a routerLink="services">BPM Service</a></li>
                            <li><a routerLink="services">Data Analytics</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6 order-sm-4 order-lg-3">
                    <div class="footer-link pt-40">
                        <div class="footer-title">
                            <h5 class="title">About Us</h5>
                        </div>
                        <ul>
                            <li><a routerLink="about">Overview</a></li>
                            <li><a routerLink="about">Why us</a></li>
                            <!-- <li><a href="#">Awards & Recognitions</a></li> -->
                            <li><a routerLink="about">Team</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6 order-sm-2 order-lg-4">
                    <div class="footer-contact pt-40">
                        <div class="footer-title">
                            <h5 class="title">Contact Info</h5>
                        </div>
                        <div class="contact pt-10">

                            <p class="text">Plot No.-95, Vasavi Nagar, <br>Road No.-5 Near Abhyudaya Jr. College,<br>
                                behind Fun Times, Guru Nanak Colony, <br> Vijayawada, Andhra Pradesh
                            </p>
                            <p class="text">contact@lakshyait.in</p>
                            <p class="text">0866-6612661</p>

                            <ul class="social mt-40">
                                <li><a href="https://www.facebook.com/lakshyait-consulting-pvt-ltdVijayawada-1852665125013996"
                                        target="_blank"><i class="lni-facebook"></i></a></li>
                                <li><a href="https://twitter.com/Lakshya_IT"><i class="lni-twitter"
                                            target="_blank"></i></a></li>
                                <!-- <li><a href="#"><i class="lni-instagram"></i></a></li> -->
                                <li><a href="https://www.linkedin.com/company/lakshya-it"><i class="lni-linkedin"
                                            target="_blank"></i></a></li>
                            </ul>
                        </div> <!-- contact -->
                    </div> <!-- footer contact -->
                </div>
            </div> <!-- row -->
        </div> <!-- footer widget -->
        <div class="footer-copyright text-center">
            <p class="text">© 2020 Crafted by <a href="https://lakshyait.in" rel="nofollow">Lakshya</a> All Rights
                Reserved.</p>
        </div>
    </div> <!-- container -->
</footer>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->

<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>