<div id="home" class="header-hero bg_cover d-lg-flex align-items-center"
    style="background-image: url(../../../../assets/images/header-hero.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="header-hero-content">
                    <h1 class="hero-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <b>Your</b>&nbsp;<span>Business</span> <br>Partner for <b>Growth.</b></h1>
                    <h3 class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Services Your Work &
                        Makes Your Goals a Cakewalk.</h3>
                    <br><br><br><br>
                    <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Lakshya IT enabling Big
                        time Organizations with its ITES and add value to their products and deliver!</p>
                    <!-- <div class="header-singup wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                        <input type="text" placeholder="username@yourdomain.com">
                        <button class="main-btn">Sign Up</button>
                    </div> -->
                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="header-hero-image d-flex align-items-center wow fadeInRightBig" data-wow-duration="1s"
        data-wow-delay="1.1s">
        <div class="image">
            <img src="assets/images/hero-image.png" alt="Hero Image">
        </div>
    </div> <!-- header hero image -->

</div> <!-- header hero -->
<div id="home" class="container pb-4">
    <div class="row">
        <div class="col-md-6">
            <h3>Our Vision</h3>
            <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Lakshya IT always aims to deliver
                Products and Services in-time with higher standards, which add value to our customers business and
                brings a positive impact which adds longevity on their business needs.</p>
        </div>
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">The primary goal of Lakshya IT is
                “Total client satisfaction” Lakshya IT’s Management designed an agile path to achieve the quality over
                quantity to build sustainable solutions by building a great team with professionals who always aim for
                learning new things and trying to change the world.
            </p>
        </div>
    </div>
</div>
<br>

<div class="container pt-100 pb-30">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Authorized Partnered with... </h3>
            <img src="../../../assets/images/zoho-logo-512px.png" class="img-fluid mx-auto d-block pt-50" width="45%">
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Potential Partnered with... </h3>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../../assets/images/pega-logo.png" width="75%" class="img-fluid mx-auto d-block">
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/images/celonics-logo.jpg" width="75%"
                        class="img-fluid mx-auto d-block pt-60">
                </div>
            </div>
        </div>
    </div>

    <br>

    <br>
</div>