<!--====== OUR SERVICE PART START ======-->
<section id="services" class="our-services-area pt-115 pb-20">
    <h2 class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Zoho Services</h2>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 d-flex justify-content-center">
                <p>Zoho Corporation, is an Indian software development
                    company with headquarters in Chennai, India. The
                    organization focuses on web-based business tools and
                    information technology, including an online office suite,
                    Internet of things management platform, and a suite of IT
                    management software.<br>
                    <span>
                        Run your entire business with 40+ integrated applications. With Zoho One, you
                        can manage, connect, and automate business processes across your
                        organization. Experience the Operating System for Business.
                    </span>
                </p>
            </div>
        </div>
        <div class="container pt-5">
            <!-- Left-aligned -->
            <div class="row">
                <div class="col-md-6">
                    <img src="../../../assets/images/zoho/crm_plus.png">
                </div>
                <div class="col-md-6 pt-30">
                    <h4 class="media-heading text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Zoho
                        CRM Plus
                    </h4>
                    <br>
                    <p class="about-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                        style="font-size: 16px!important;font-weight: 600;">Perfect For Your Sales, Marketing, Support,
                        And Every Other Customer facing Team FEATURES
                    </p>
                    <ul style="list-style-type:square" class="pt-3 pl-35">
                        <li>
                            The customer experience platform across every channel</li>
                        <li>
                            Unify all your customer facing teams</li>
                        <li>
                            An AI assistant that learns from every interaction</li>
                        <li>
                            Take help closer to your customers</li>
                        <li>
                            Process automation with Blueprint</li>
                        <li>
                            Powerful analytics that cuts across every touchpoint</li>
                    </ul>
                </div>
            </div>

            <!-- Right-aligned -->
            <div class="media">
                <div class="media-body p-4">
                    <div class="row">
                        <div class="col-md-6 pt-40">
                            <h4 class="media-heading text-center wow fadeInUp" data-wow-duration="1s"
                                data-wow-delay="0.3s">Zoho Workplace
                            </h4>
                            <br>
                            <p class="about-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                                style="font-size: 16px!important;font-weight: 600;">Workplace Unifies And Centralizes
                                Your Team's Workspace,
                                Simplifies File Storage, And Streamlines Team Communication.</p>
                            <ul style="list-style-type:square" class="pt-3 pl-35">
                                <li>
                                    Provide Context</li>
                                <li>
                                    Ensure Continuity</li>
                                <li>
                                    Enable Convenience</li>
                                <li>
                                    Foster Collaboration</li>
                                <li>
                                    Office Productivity</li>
                                <li>
                                    Team Collaboration</li>
                                <li>
                                    Unified Communication</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../assets/images/zoho/file_management.png" alt="Feature"
                                class="img-fluid pull-right">
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <!-- Left-aligned -->
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/images/zoho/finance-plus.png">
                    </div>
                    <div class="col-md-6 pt-30">
                        <h4 class="media-heading text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                            Zoho Finance Plus
                        </h4>
                        <br>
                        <p class="about-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                            style="font-size: 16px!important;font-weight: 600;">A GST
                            compliant, unified platform for all your back office needs.
                        </p>
                        <p>
                            From
                            invoicing to order management to accounting, our integrated finance suite has all bases
                            covered when it comes to your back office operations We've added all the features you'll
                            need to
                            make sure your business becomes and stays GST compliant
                        </p>
                        <ul style="list-style-type:square" class="pt-3 pl-35">
                            <p class="about-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                                style="font-size: 16px!important;font-weight: 600;">Benefits Of The Integrated Finance
                                Suite For
                                Business</p>
                            <li>
                                Multiple apps, single platform</li>
                            <li>
                                Improved quote to cash process</li>
                            <li>
                                Subscription economy ready</li>
                            <li>
                                Faster employee reimbursements</li>
                            <li>
                                GST compliant solutions</li>
                            <li>
                                Ease of Administration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Right-aligned -->
            <div class="media">
                <div class="media-body p-4">
                    <div class="row">
                        <div class="col-md-6 pt-40">
                            <h4 class="media-heading text-center wow fadeInUp" data-wow-duration="1s"
                                data-wow-delay="0.3s">IT Management
                            </h4>
                            <br>
                            <p class="about-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                                style="font-size: 16px!important;font-weight: 600;">Give your IT the cloud advantage
                            </p>
                            <p>
                                Advanced IT management solutions to manage, audit, and secure your hybrid environment while
sustaining your remote workforce's optimal productivity.
                            </p>
                            <ul style="list-style-type:square" class="pt-3 pl-35">
                                <li>
                                    ServiceDesk Plus</li>
                                <li>
                                    Mobile Device Manager Plus</li>
                                <li>
                                    Desktop Central</li>
                                <li>
                                    Patch Manager Plus</li>
                                <li>
                                    Site24x7</li>
                                <li>
                                    AlarmsOne</li>
                                <li>
                                    Identity Manager Plus</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../assets/images/zoho/it_mamagement.png" alt="Feature"
                                class="img-fluid pull-right">
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <!-- Left-aligned -->
                <div class="row">
                    <div class="col-md-6 pt-100">
                        <img src="../../../assets/images/zoho/zoho_people.PNG">
                    </div>
                    <div class="col-md-6 pt-30">
                        <h4 class="media-heading text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                            Zoho People Plus
                        </h4>
                        <br>
                        <p class="about-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                            style="font-size: 16px!important;font-weight: 600;">A unified HR platform for a seamless employee experience.
                            .
                        </p>
                        <p>
                            With Zoho People Plus you can deliver exceptional digital HR experiences to
your employees while managing the entire employee life cycle on a single
integrated platform. From building great teams to empowering them and keeping
them engaged, we've got it covered.
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul style="list-style-type:square" class="pt-3 pl-35">
                                    <p class="about-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                                        style="font-size: 16px!important;font-weight: 600;">Core HR and Payroll
                                    </p>
                                    <li style="text-align: none;">
                                        Time & Attendance Management</li>
                                    <li>
                                        Roster Management
                                    </li>
                                    <li>
                                        Payroll Management - India</li>
                                    <li>
                                        Secure Password Management</li>
                                    <li>
                                        Document Management</li>
                                    <li>
                                        Expense Management</li>
                                    <li>People Analytics</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul style="list-style-type:square" class="pt-3 pl-35">
                                    <p class="about-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                                        style="font-size: 16px!important;font-weight: 600;">Employee Management
                                    </p>
                                    <li>
                                        Employee Social Wall</li>
                                    <li>
                                        Bots & Zia Events
                                    </li>
                                    <li>
                                        Internal Portal</li>
                                    <li>
                                        Business Ready Chats</li>
                                </ul>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>

        </div>

        <!-- PRICING -->
        <div class="col-md-12 text-center pt-50">
            <h2 class="text-center">PRICING</h2>
        </div>
        <div class="row pt-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h4>CRM PLUS</h4>
                        <ul>
                            <li> 2500-user/month billed annually </li>
                            <li>3,000/user month-to-month</li>
                            <!-- <li class="list-group-item">
                                <p class="card-text font-weight-bold">TRUSTED BY GREAT BRANDS IN WORLD</p>
                                <ul class="">
                                    <li class="">Agoda</li>
                                    <li class="">Hotstar</li>
                                    <li class="">Star Health Insurance</li>
                                    <li class="">Zee 5</li>
                                    <li class="">Air Panama</li>
                                    <li class="">Bose</li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>PEOPLE PLUS</h4>
                        <ul>
                            <li>299-/user/month billed annually </li>
                            <li>399-/user month to month</li>
                            <!-- <li class="list-group-item">
                                <p class="card-text font-weight-bold">TRUSTED BY BIG BRANDS</p>
                                <ul class="">
                                    <li class="">Iifl</li>
                                    <li class="">Equitas</li>
                                    <li class="">Carnival group</li>
                                    <li class="">Steelcast</li>
                                </ul>
                            </li> -->
                        </ul>

                    </div>
                </div>
                <div class="row pt-30">
                    <div class="col-md-6">
                        <h4>CREATOR</h4>
                        <ul>
                            <li>1600 Per user/month billed annually start at 10 users 
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>FINANCE PLUS</h4>
                        <ul>
                            <li>5999 per organization/month include 10users
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                    
                        <h4>WORKPLACE</h4>
                   <!-- class="list-group list-group-flush" class="list-group-item" -->
                    <ul>
                        <li >Standard Monthly - 129/user</li>
                        <li >Standard Yearly - 99/user</li>
                        <li>Professional Monthly - 489/user</li>
                        <li>Professional Yearly - 399/user</li>
                        <li>Mail only plan - Starts 59 (yearly subscription)</li>
                    </ul>
                  
                <!-- </div> -->
            </div>
           



        </div>
    </div>
</section>