<!--====== OUR SERVICE PART START ======-->
<section id="services" class="our-services-area pt-115 pb-20">
    <h2 class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Zoho Services</h2>
    <br>
    <div class="container">
        <div class="row text-center">
            <p>Zoho Corporation, is an Indian software development
                company with headquarters in Chennai, India. The
                organization focuses on web-based business tools and
                information technology, including an online office suite,
                Internet of things management platform, and a suite of IT
                management software
            </p>
            <p>
                Run your entire business with 40+ integrated applications. With Zoho One, you
                can manage, connect, and automate business processes across your
                organization. Experience the Operating System for Business.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style-type="none">
                    <li>CRM Plus</li>
                    <li>Workplace</li>
                    <li>Finance Plus</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul style-type="none">
                    <li>Creator</li>
                    <li>People Plus</li>
                    <li>IT Managment</li>
                </ul>
            </div>
        </div>
        
    </div>
</section>