<!--====== OUR SERVICE PART START ======-->
<section id="services" class="our-services-area pt-115 pb-20">
    <h2 class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Web and Mobile Service</h2>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/development-2.jpg" class="img-fluid">
            </div>
            <div class="col-md-6 pt-50">
                <h4 class="media-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Web Development</h4>
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">In the
                    Current Day of Digital World Website is the face of your organization. Lakshya IT enables your
                    organization to become more understandable by your prospective leads and turning them into a valued
                    customer by designing and presenting your ideas through your Digital Face-Website.
                </p>
                <br>
                <h4 class="media-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Mobile App
                    Development
                </h4>
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Lakshya IT
                    enables your organization to become more mobile and available through a responsive customized mobile
                    application and reduce the response time and increase productivity.</p>
            </div>
        </div>
    </div>
    <!-- Left-aligned -->
</section>

<!-- Zoho Services -->
<div id="services" class="our-services-area pt-115">
    <h2 class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Zoho Services</h2>
    <div class="container pt-5">
        <!-- Left-aligned -->
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/Consulting-Vector-Hero-optimized.jpg">
            </div>
            <div class="col-md-6 pt-150">
                <h4 class="media-heading  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Zoho Consulting
                </h4>
                <br>
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                    style="font-size: 16px!important;">Get a well thought out Zoho CRM Strategy. Develop a foolproof
                    Zoho Implementation Plan. Improve your Zoho CRM Return Investment. Achieve these goals and more with
                    our expert Zoho COnsultants.</p>
            </div>
        </div>

        <!-- Right-aligned -->
        <div class="media">
            <div class="media-body p-4">

                <div class="row">
                    <div class="col-md-6 pt-40">
                        <h4 class="media-heading  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Zoho CRM
                            Strategy for High Return on Investment (ROI)
                        </h4>
                        <br>
                        <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">An
                            ad hoc approach to Zoho CRM usage more often than not guarantees a low Return on Investment.
                            This is why we advise a well thought out Zoho CRM strategy. Your business is unique, so your
                            Zoho CRM strategy should be too. Quickly developing a strategy by yourself isn’t enough. Our
                            expert Zoho Consultants are eager to meet with you to develop a well-thought-out Zoho CRM
                            strategy that will guarantee you a high Return on Investment.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/images/feature-03.gif" alt="Feature" class="img-fluid pull-right">
                    </div>
                </div>

            </div>

        </div>
        <div class="text-center">Know more about our <a routerLink="zoho_services">Zoho Service</a></div>
    </div>
    
</div>
<!-- Zoho Services -->

<!-- BPM Services -->
<div id="services" class="our-services-area pt-115 pb-30">
    <h2 class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">BPM Services</h2>
    <div class="container pt-5">
        <!-- Left-aligned -->
        <div class="row">
            <div class="col-md-6 pt-30">
                <img src="../../../assets/images/pega-services.png">
            </div>
            <div class="col-md-6 pt-15">
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                    style="font-size: 16px!important;text-indent: 3%;text-align: justify;">Lakshya consultants provide
                    expertise for your project team in the architecture, implementation, configuration and
                    administration of Pega. We can provide experienced Senior Business Architects,Lead & Senior Systems
                    Architects and Consulting Principal’s as you seek to drive governance, quality and the extensibility
                    of the Pega toolset across your enterprise. We enable our clients through traditional coaching and
                    technical domain expertise to realize the full value of the Pega platform. Our key services include:
                </p>
                <br>
                <h5 class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Technical
                    Gap Analysis</h5>
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Building a
                    business case for Pega platform resolving implementation and ongoing costs</p>

                <h5 class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Pega
                    Configuration</h5>
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    Implementing Pega including system build, testing and implementation plus mechanisms to drive
                    continuous real-time feedback to the business</p>

                <h5 class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Proof of
                    Concept</h5>
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Setup a
                    Pega ’test-drive’ installation to demonstrate how Pega functionality would handle a sample process
                    and workflow that client is seeking
                </p>
            </div>
        </div>

    </div>
</div>
<!-- BPM Services -->

<!-- Data Analytics Services -->
<div id="services" class="our-services-area pt-115 pb-30">
    <h2 class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Data Analytics</h2>
    <div class="container pt-5">
        <!-- Left-aligned -->
        <div class="row">

            <div class="col-md-6 pt-30">
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                    style="font-size: 16px!important;text-indent: 3%;text-align: justify;">The process of examining
                    datasets to draw conclusions about the information they contain, to find trends and answer
                    questions, the definition of data analytics captures its broad scope of the field.
                </p>
                <br>
                <h5 class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Data
                    Mining</h5>
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Is a
                    process to turn raw data into useful information. To look for patterns in large batches of data,
                    businesses can learn more about their customers to develop more effective marketing strategies,
                    increase sales and decrease costs.
                </p>

                <h5 class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Spatial
                    Data Mining</h5>
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Use
                    geographical or spatial information to produce business intelligence or other results. To get the
                    geographical data into relevant and useful formats.</p>

                <h5 class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Process
                    Mining</h5>
                <p class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Is an
                    analytical discipline for discovering, monitoring, and improving real processes (i.e., not assumed
                    processes) by extracting knowledge from event logs readily available in today’s information systems.
                </p>
            </div>
            <div class="col-md-6 pt-10">
                <img src="../../../assets/images/Data-Analytics-What-is-Data-Analytics-Edureka-1.png">
            </div>
        </div>

    </div>
</div>
<!-- Data Analytics Services -->
<!--====== PRICING PART START ======-->